.resNav {
    display: flex !important;
    height: 100vh !important;
}

.blackBg {
    background: #00000047 !important;
}

#cross {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .flex {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .mainBox {
        padding: 155px 30px 155px 30px;
    }

    .heroText {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    .searchButton {
        width: 18%;
    }

    .doctorSearchBar form {
        flex-direction: column;
    }

    .inputCondition,
    .inputLocation {
        width: 100%;
        margin-bottom: 8px;

    }

    .searchButton {
        width: 40%;
        margin: auto;
    }

    .departRow {
        width: 100%;
    }

    .aboutUs {
        padding: 15px;
    }

    .aboutUsRow .leftBox {
        width: 41%;
    }

    .footerRow {
        padding: 10px;
    }
}

@media only screen and (max-width: 888px) {
    .heroText {
        font-size: 2.2rem;
    }

    .details p {
        padding: 0px;
        font-size: 0.9rem;
        text-align: center;
    }

    .aboutUsRow {
        flex-direction: column;
    }

    .aboutUsRow .leftBox {
        width: 56%;
    }

    .aboutBtn {
        text-align: center;
    }

    .footerRow {
        flex-direction: column;
    }

    .details h3 {
        text-align: center;
    }

    .box {
        width: 42%;
        height: auto;
    }

    #footerEmail {
        margin: 4px 0px;
    }

}

@media only screen and (max-width: 770px) {

    .departRow {
        width: 100%;
        flex-direction: column;
    }

    .heroBox img {
        width: 124%;
    }
}

@media only screen and (max-width: 570px) {
    .footerBoxLine {
        display: block;
        background: white;
        width: 300px;
    }

    .departLine {
        display: block;
        background: black;
        width: 300px;
    }

    .heroBox img {
        width: 100%;
    }

}

@media only screen and (max-width: 460px) {
    #contact-form {
        text-align: center;
    }

    .form-control,
    textarea {
        max-width: 260px;
    }

    .send-button {
        margin-top: 15px;
        width: 297px;
    }

    .mainBox {
        padding: 130px 6px 70px 6px;
    }

    .aboutUsRow .rightBox {
        width: 100%;
    }

    .aboutUsRow .leftBox {
        width: 100%;
    }

    .footer .rights {
        padding: 10px;
    }

    .logo {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {

    .doctorSearchBar input[type="text"] {

        font-size: 14px;
        font-weight: 600;
        padding: 8px;
    }

    .heroText {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }

    .contact-text a {
        font-size: 1.2rem;
    }

    .box {
        width: 90%;
    }

    .heroBox img {
        width: 131%;
        height: 70%;
    }

    .heroSection {
        height: 70vh;
    }
}